<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogFile="C:\Temp\nLog.txt"
      internalLogLevel="Trace">
  <targets>
    <target name="LogToFile"
            xsi:type="File"
            layout="${longdate} ${logger} ${message}${onexception:${exception:tostring}}"
            fileName="${basedir}/Logs/UserManagement$.log"
            encoding="utf-8"
            maxArchiveFiles="10"
            archiveNumbering="Sequence"
            archiveAboveSize="1048576"
            archiveFileName="${basedir}/Logs/UserManagement${shortdate}.log" />
  </targets>
  <rules>
    <logger name="*"
            writeTo="LogToFile"
            minlevel="Debug" />
  </rules>
</nlog>